@tailwind base;
@tailwind components;
@tailwind utilities;

nextjs-portal {
    display: none;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-thin {
    scrollbar-width: thin;
}